<tr id="<%= "comment-#{comment.id}" %>">
  <td class="comment-width">
    <%= image_tag 'sample.jpg', width: 50, height: 50, class: 'rounded-circle' %>
  </td>
  <td>
    <%= content_tag(:h3, comment.user.decorate.full_name, class: 'small') %>
    <%= 
      content_tag(
        :div,
        simple_format(h(comment.body)).html_safe,
        id: "js-comment-#{comment.id}"
      )
    %>
    <% if current_user == comment.user %>
    <%# Only writer, show edit form %>
      <div class="d-none">
        <%= content_tag(:textarea, comment.body, class: 'form-control mb-1') %>
        <%= content_tag(:button, t('shared.cancel'), class: 'btn btn-light') %>
        <%= content_tag(:button, t('shared.update'), class: 'btn btn-success') %>
      </div>
    <% end %>
  </td>

  <td class="action">
    <ul class="list-inline justify-content-center comment-float-right">
      <% if current_user == comment.user %>
      <%# Only writer, show edit and delete action button %>
        <li class="list-inline-item">
          <a href="#">
            <i class="fa fa-edit"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
            <i class="fa fa-trash"></i>
          </a>
        </li>
      <% end %>
    </ul>
  </td>
</tr>