<%= content_for :title, t('boards.index.title') %>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div>
          <div class="row mb-3">
            <div class="col-sm-none col-md-6"></div>
            <div class="col-sm-12 col-md-6">
              <%= search_form_for @q, url: admin_boards_path do |f| %>
                <div class="input-group">
                  <%= f.search_field :title_or_user_first_name_or_user_last_name_cont, placeholder: t('shared.search_keyword'), class: 'form-control', type: 'search' %>
                  <div class="input-group-append">
                    <%= f.submit t('shared.search'), class: 'btn btn-primary',  data: {disable_with: t('shared.search')}, name: 'commit' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% if @boards.exists? %>
            <div class="row" id="js-boards">
              <div class="col-sm-12">
                <table class="table table-striped ">
                  <thead>
                    <tr>
                      <th><%= Board.human_attribute_name(:id) %></th>
                      <th><%= Board.human_attribute_name(:title) %></th>
                      <th><%= Board.human_attribute_name(:writer) %></th>
                      <th><%= Board.human_attribute_name(:created_at) %></th>
                      <th></th>
                    </tr>
                  </thead>
                    <%= render @boards %>
                </table>
              </div>
            </div>
          <% else %>
            <%= render 'admin/boards/no_board' %>
          <% end %>
        </div>
      </div>
      <div class="card-footer clearfix">
        <div class="row col-12 justify-content-center">
          <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
            <%= paginate @boards %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= 
    render(
      'shared/admin/delete_confirm_modal',
      modal_id: 'js-board-delete-confirm-modal',
      modal_title: t('boards.delete.title'),
      modal_body: t('boards.delete.body'),
      link_id: 'js-board-delete-button'
    )
  %>
</div>
