<%= form_with(model: @board, local: true, class: 'new_board', html: { multipart: true } ) do |f| %>
  <!-- if exists error: render error messages -->
  <%= render 'layouts/error_messages', model: f.object %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :body %>
    <%= f.text_area :body, row: 10, style: 'height: 200px; resize: none', class: "form-control noresize" %>
  </div>
  <div class='form-group'>
    <%= f.label :board_image %>
    <%= 
      f.file_field( 
        :board_image,
        class: 'form-control-file mb-2',
        accept: 'image/jpg, image/jpeg, image/png, image/gif',
      )
    %>
    <%= f.hidden_field :board_image_cache %>

    <%# preview of uploaded image %>
    <%= image_tag f.object.board_image.url, id: 'js-board_image_prev', width: '100px', height: '100px', class: 'img-thumbnail' %>
  </div>
  <div class="actions">
    <%= f.submit t('boards.new.submit'), class: 'btn btn-primary', data: { disable_with: t('boards.new.submit') } %>
  </div>
<% end %>