<div class="container pt-5">
    <div class="row mb-3">
      <div class="col-lg-8 offset-lg-2">
        <%= content_tag(:h1, t('boards.show.title')) %>
        <%# 掲示板内容 %>
        <article class="card">
          <div class="card-body">
            <div class='row'>
              <div class='col-md-3'>
                <%= image_tag(@board.board_image.url, width: 300, height: 200, class: 'card-img-top img-fluid') %>
              </div>
              <div class='col-md-9'>
                <h3 class="d-inline"><%= @board.title %></h3>
                <ul class="list-inline">
                  <li class='list-inline-item'><%= "by #{@board.user.decorate.full_name}" %></li>
                  <li class='list-inline-item'><%= l(@board.created_at, format: :long) %></li>
                </ul>
              </div>
            </div>
            <%= simple_format(h(@board.body), class: 'mb-0').html_safe %>
          </div>
        </article>
      </div>
    </div>
  
    <%# コメントフォーム %>
    <div class="row mb-3">
      <div class="col-lg-8 offset-lg-2">
        <%= form_with(model: @comment, url: board_comments_path(board_id: @board.id), method: :post, local: true) do |f| %>
          <%= f.label :body %>
          <%= f.text_area :body, row: 4, placeholder: t('comments.new.body_placeholder'), class: 'form-control mb-3' %>
          <%= f.submit t('comments.new.submit'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  
  
    <%# コメントエリア %>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <% if @comments %>
          <table id="js-table-comment" class="table">
            <%= render @board.comments.includes(:user) %>
          </table>
        <% else %>
          <div class="col-sm col-md col-lg mb-3">
            <div class="card">
              <div class='card-body'>
                <span class='text-muted'><%= t('comments.index.no_data') %></span>
              </div>
            </div>
          </div>    
        <% end %>
      </div>
    </div>
  </div>