<tr id="user-<%= user.id %>">
  <td><%= user.id %></td>
  <td><%= user.email %></td>
  <td><%= user.decorate.full_name %></td>
  <td><%= t("roles.#{user.role}") %></td>
  <td><%= l user.created_at, format: :long %></td>
  <td>
    <%=
      link_to(
        content_tag(:i, '', class: 'fas fa-user-edit'),
        edit_admin_user_path(id: user),
        class: 'btn btn-link'
      )
    %>
    <% unless user == current_user %>
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#js-user-delete-confirm-modal" data-delete-url="<%= admin_user_path(id: user) %>">
        <i class="fas fa-trash"></i>
      </button>
    <% end %>
  </td>
</tr>
