<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
    <%= image_tag('AdminLTELogo.png', class: 'brand-image img-circle elevation-3', alt: 'AdminLTE Docs Logo Small') %>
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_tag('sample.jpg', class: 'img-circle elevation-2', alt: 'User Image') %>
      </div>
      <div class="info">
        <a href="#" class="d-block"><%= current_user.decorate.full_name %></a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">

        <li class="nav-item">
          <a href="<%= admin_root_path %>" class="nav-link <%= active_if('admin/dashboards') %>">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p><%= t('dashboards.index.title') %></p>
          </a>
        </li>

        <li class="nav-item">
          <a href="<%= admin_boards_path %>" class="nav-link <%= active_if('admin/boards') %>">
            <i class="nav-icon fas fa-sticky-note"></i>
            <p><%= t('boards.index.title') %></p>
          </a>
        </li>

        <li class="nav-item">
          <a href="<%= admin_users_path %>" class="nav-link <%= active_if('admin/users') %>">
            <i class="nav-icon fas fa-users"></i>
            <p><%= t('users.index.title') %></p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
